aiohttp
botbuilder
botbuilder-core
botbuilder-dialogs
botbuilder-schema
langchain
googlesearch-python
beautifulsoup4
numpy
pandas
pyodbc
Requests
requests_oauthlib
azure-storage-blob 
azure-identity
azure-search
azure-search-documents
openai
Unidecode
openpyxl
asgiref
gunicorn
flask
nest_asyncio