aiohttp
botbuilder
botbuilder_core
botbuilder_dialogs
botbuilder_schema
langchain
googlesearch_python
beautifulsoup4
numpy
pandas
pyodbc
Requests
requests_oauthlib
azure-storage-blob 
azure-identity
azure-search
azure-search-documents
openai
Unidecode
openpyxl
