azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.28
azure-communication-email==1.0.0
azure-core==1.27.1
azure-identity==1.13.0
azure-mgmt-apimanagement==4.0.0
azure-mgmt-core==1.4.0
azure-search==1.0.0b2
azure-search-documents==11.4.0b3
azure-storage-blob==12.16.0
Flask==2.2.5
langchain==0.0.229
Pillow==9.5.0
torch==2.0.1
transformers==4.30.2
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
